src/validators/tradian.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by u_site (site) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:element name="Awmds">
		<xs:annotation>
			<xs:documentation>AsycudWorld Manifest Data String</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Transaction_details" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="User_login" />
							<xs:element name="User_name" />
							<xs:element name="transaction_date">
								<xs:simpleType>
									<xs:restriction base="xs:date" />
								</xs:simpleType>
							</xs:element>
							<xs:element name="transaction_time" type="xs:time" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="General_segment">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="General_segment_id">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Customs_office_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Voyage_number">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17" />
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Date_of_departure">
											<xs:simpleType>
												<xs:restriction base="xs:date" />
											</xs:simpleType>
										</xs:element>
										<xs:element name="Date_of_arrival" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:date" />
											</xs:simpleType>
										</xs:element>
										<xs:element name="Time_of_arrival" type="xs:time"
											minOccurs="0" />
										<xs:element name="Date_of_last_discharge" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:date" />
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Totals_segment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Total_number_of_bols" type="xs:int" />
										<xs:element name="Total_number_of_packages" type="xs:double" />
										<xs:element name="Total_number_of_containers" type="xs:int" />
										<xs:element name="Total_gross_mass" type="xs:double" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Transport_information">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Carrier">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Carrier_code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="17" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Carrier_name" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="35" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Carrier_address"
														type="xs:string" minOccurs="0" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Shipping_Agent" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Shipping_Agent_code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="17" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Shipping_Agent_name"
														minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="150" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Mode_of_transport_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Identity_of_transporter" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
													<xs:minLength value="0" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Nationality_of_transporter_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_transporter" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
													<xs:minLength value="0" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Registration_number_of_transport_code"
											minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35" />
													<xs:minLength value="0" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Date_of_registration" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:date" />
											</xs:simpleType>
										</xs:element>
										<xs:element name="Master_information" type="xs:string"
											minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Load_unload_place">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Place_of_departure_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_destination_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Tonnage" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Tonnage_net_weight" type="xs:double" />
										<xs:element name="Tonnage_gross_weight" type="xs:double" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- GVA <patch ID="#756 Scan documents on Manifest (General Segment)"
							version="4.3.0" type="FIX" date="March 11, 2015" author="Leonardo
							Flores"> -->
							<xs:element name="Attached_Document" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Attached_document_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Attached_document_filename">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="5" />
													<xs:maxLength value="255" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Attached_document_content"
											type="xs:base64Binary" minOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- </patch ID="#756 Scan documents on Manifest (General Segment)"> -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Bol_segment" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Bol_id">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Bol_reference">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
											<xs:unique name="Bol_reference">
												<xs:selector xpath="Bol_reference" />
												<xs:field xpath="Bol_reference" />
											</xs:unique>
										</xs:element>
										<xs:element name="Line_number">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:int" />
												</xs:simpleContent>
											</xs:complexType>
											<xs:unique name="Line_number">
												<xs:selector xpath="Line_number" />
												<xs:field xpath="Line_number" />
											</xs:unique>
										</xs:element>
										<xs:element name="Bol_nature">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="2" />
													<xs:enumeration value="22" />
													<xs:enumeration value="23" />
													<xs:enumeration value="24" />
													<xs:enumeration value="28" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Bol_type_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Master_bol_ref_number" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Unique_carrier_reference" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Load_unload_place">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Port_of_origin_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Original_port_of_loading_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_delivery_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_ultimate_destination_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_loading_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Place_of_unloading_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Traders_segment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Exporter">
											<xs:complexType>
												<xs:sequence>
													<!-- GVA <patch ID="#877 - Add missing fields to
													ASYFCI" version="4.3.0" type="FIX" date="Feb 20,
													2015" author="Leonardo Flores"> -->
													<xs:element name="Exporter_code" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="17" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<!-- </patch ID="#877 - Add missing fields to
													ASYFCI"> -->
													<xs:element name="Exporter_name">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1" />
																<xs:maxLength value="150" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Exporter_address">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1" />
																<xs:maxLength value="255" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FreightForwarder" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FFName">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="70" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="FFId">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="50" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Notify">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Notify_code" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="17" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Notify_name">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="150" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Notify_address">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="255" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Consignee">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Consignee_code" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="17" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Consignee_name" minOccurs="1">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1" />
																<xs:maxLength value="150" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Consignee_address">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1" />
																<xs:maxLength value="255" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ctn_segment" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Ctn_reference">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
											<xs:unique name="Ctn_reference">
												<xs:selector xpath="Ctn_reference" />
												<xs:field xpath="Ctn_reference" />
											</xs:unique>
										</xs:element>
										<xs:element name="Number_of_packages" type="xs:int" />
										<xs:element name="Package_type">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Type_of_container">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Empty_Full">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Marks1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Marks2" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="512" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Marks3" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="10" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Sealing_Party" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<!-- GVA <patch ID="#877 - Add missing fields to ASYFCI"
										version="4.3.0" type="FIX" date="Feb 20, 2015"
										author="Leonardo Flores"> -->
										<xs:element name="Empty_weight" type="xs:double"
											minOccurs="0" />
										<xs:element name="Goods_Weight" type="xs:double"
											minOccurs="0" />
										<!-- </patch ID="#877 - Add missing fields to ASYFCI"> -->
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Goods_segment" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Quantity" type="xs:double" minOccurs="0" />
										<xs:element name="Quantity_type_code" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Number_of_packages" type="xs:double" />
										<xs:element name="Package_type_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Gross_mass" type="xs:double" />
										<xs:element name="Shipping_marks" type="xs:string" />
										<xs:element name="Goods_description">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Seals_segment" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Number_of_seals" type="xs:int" />
													<xs:element name="Marks_of_seals">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="20" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Sealing_party_code"
														minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Container_item_references" minOccurs="0"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Ctn_item_reference">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1" />
																<xs:maxLength value="17" />
															</xs:restriction>
														</xs:simpleType>
														<xs:unique name="Ctn_item_reference">
															<xs:selector xpath="Ctn_item_reference" />
															<xs:field xpath="Ctn_item_reference" />
														</xs:unique>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Volume_in_cubic_meters" type="xs:double"
											minOccurs="0" />
										<xs:element name="Num_of_ctn_for_this_bol" type="xs:int" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- GVA <patch ID="#595 Add Split segment to ASYFCI XML"
							version="4.2.2" type="IMPROVEMENT" date="Jun 10, 2014" author="Leonardo
							Flores"> -->
							<xs:element name="Split_segment" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number_of_packages" type="xs:double" />
										<xs:element name="Package_type_code">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Gross_mass" type="xs:double" />
										<xs:element name="Shipping_marks" type="xs:string" />
										<xs:element name="Goods_description" type="xs:string" />
										<xs:element name="Container" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Reference">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1" />
																<xs:maxLength value="17" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Unloaded" type="xs:boolean" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!-- </patch ID="Add Split segment to ASYFCI XML"> -->
							<xs:element name="Value_segment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Freight_segment" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PC_indicator" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Freight_value"
														type="xs:double" minOccurs="0" />
													<xs:element name="Freight_currency"
														minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Customs_segment" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Customs_value"
														type="xs:double" minOccurs="0" />
													<xs:element name="Customs_currency"
														minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Insurance_segment" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Insurance_value"
														type="xs:double" minOccurs="0" />
													<xs:element name="Insurance_currency"
														minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Transport_segment" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Transport_value"
														type="xs:double" minOccurs="0" />
													<xs:element name="Transport_currency"
														minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="0" />
																<xs:maxLength value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Location" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Location_code" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Location_info" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="35" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>